    #button-1 {
        background-image: url("../images/logo-radio-kiss-sm.png");
    }

    #button-2 {
        background-image: url("../images/logo-radio-hey-sm.jpg");
    }

    #button-3 {
        background-image: url("../images/logo-radio-dixie-sm.png");
    }

    #button-4 {
        background-image: url("../images/logo-radio-hitRadioNortMusic-sm.png");
    }

    #button-5 {
        background-image: url("../images/logo-radio-COOP-sm.png");
    }

    #button-6 {
        background-image: url("../images/logo-radio-rock-sm.png");
    }

    #button-7 {
        background-image: url("../images/logo-radio-osmdesatka-sm.png");
    }

    #button-8 {
        background-image: url("../images/logo-radio-zonalasky-sm.png");
    }

    #button-9 {
        background-image: url("../images/logo-fajn-radio-sm.png");
    }

    #button-10 {
        background-image: url("../images/logo-radio-66-sm.png");
    }

    #button-11 {
        background-image: url("../images/logo-country-radio-sm.png");
    }

    #button-12 {
        background-image: url("../images/logo-radio-blanik-sm.png");
    }

    #button-13 {
        background-image: url("../images/logo-frekvence-1-sm.png");
    }

    #button-14 {
        background-image: url("../images/logo-radio-KPLO-sm.png");
    }

    #button-15 {
        background-image: url("../images/logo-radio-KIOK-sm.png");
    }

    #button-16 {
        background-image: url("../images/logo-WIOV-105-sm.png");
    }

    #button-17 {
        background-image: url("../images/logo-radio-newOrleans-sm.png");
    }

    #button-18 {
        background-image: url("../images/logo-dash-radio-country-sm.png");
    }

    #button-19 {
        background-image: url("../images/logo-radio-WSM-sm.png");
    }

    #button-20 {
        background-image: url("../images/logo-radio-KDAK-sm.png");
    }

    #button-21 {
        background-image: url("../images/logo-radio-WFGF-sm.png");
    }

    #button-22 {
        background-image: url("../images/logo-radio-KDDR-sm.png");
    }

    #button-23 {
        background-image: url("../images/logo-radio-KOVC-sm.png");
    }

    #button-24 {
        background-image: url("../images/logo-radio-country-90-sm.png");
    }